<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.frans.sign.dao.DocFormDAO">

	<select id="docFormList" resultType="DocFormDTO">
		SELECT df.doc_form_idx, dt.doc_type_name, df.doc_form_name, e.emp_name, df.doc_form_use, df.doc_form_upHit
			FROM employee e, document_type dt, doc_form df
			<where>
				<if test="doc_type.equals('all')">df.emp_id = e.emp_id AND dt.doc_type_idx = df.doc_type_idx</if>
				<if test="!doc_type.equals('all')">df.emp_id = e.emp_id AND dt.doc_type_idx = df.doc_type_idx AND dt.doc_type_idx = #{param1}</if>
			</where>
			ORDER BY 
				<if test="lineup.equals('최신순')">doc_form_idx desc</if>
				<if test="lineup.equals('사용수')">doc_form_use desc</if>
				<if test="lineup.equals('조회수')">doc_form_upHit desc</if>
	</select>
	
	<select id="docFormSearch" resultType="DocFormDTO">
		SELECT dt.doc_type_name, df.doc_form_name, e.emp_name, df.doc_form_use, df.doc_form_upHit
			FROM employee e, document_type dt, doc_form df
			WHERE df.emp_id = e.emp_id AND dt.doc_type_idx = df.doc_type_idx AND df.doc_form_name like CONCAT('%',#{param1},'%')
	</select>
	
	<insert id="docFormWrite"
			useGeneratedKeys="true"
			keyColumn="doc_form_idx"
			keyProperty="doc_form_idx"
			parameterType="DocFormDTO">
		INSERT INTO doc_form(emp_id, doc_type_idx, doc_form_content, doc_form_name)
			VALUES('20180001',#{doc_type_idx},#{doc_form_content},#{doc_form_name})
	</insert>
	
	<select id="docFormDetail" resultType="DocFormDTO">
		SELECT dt.doc_type_name, df.doc_form_idx, df.doc_form_name, e.emp_name, t.team_name, df.doc_form_content, df.doc_form_use, df.doc_form_upHit
			FROM employee e, document_type dt, doc_form df, team t 
			WHERE df.emp_id = e.emp_id AND dt.doc_type_idx = df.doc_type_idx AND t.team_idx = e.team_idx AND doc_form_idx=#{param1};
	</select>
	
	<delete id="docFormDelete">
		DELETE FROM doc_form WHERE doc_form_idx = #{param1}
	</delete>

</mapper>