<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 XML 을 어떤 interface 를 통해서 연결 할 건가? -->
<mapper namespace="com.frans.main.dao.LoginDAO">

	<select id="login" resultType="String" parameterType="String">
		SELECT emp_pw FROM employee WHERE emp_id = #{emp_id}
	</select>
	
<!-- 	<select id="hash" resultType="String"> -->
<!-- 		SELECT emp_pw FROM employee WHERE pw = #{param1} -->
<!-- 	</select> -->
	
</mapper>



