<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 이 XML을 어떤 interface 를 통해서 연결 할 것인가? -->
<mapper namespace="com.frans.stock.dao.MenuDAO">

	<select id="menuCount" resultType="int">
		SELECT COUNT(menu_idx) FROM menu;
	</select>

	<insert id="menuRegister" parameterType="MenuDTO">
		INSERT INTO menu(menu_idx, menu_name, menu_price, menu_recipe, menu_start, menu_photo)
			VALUES(#{menu_idx}, #{menu_name},#{menu_price},#{menu_recipe},#{menu_start}, #{menu_photo})
	</insert>
	
	<select id="menuListCall" resultType="hashmap">
		SELECT menu_idx, menu_name, menu_price, menu_photo FROM menu
		WHERE menu_state = #{param1}
	</select>
	
	<select id="menuDetail" resultType="MenuDTO">
		SELECT * FROM menu WHERE menu_idx = #{param1}
	</select>
	
	<update id="menuUpdate1" parameterType="MenuDTO">
		UPDATE menu 
		SET 
		menu_name = #{menu_name}, 
		menu_price = #{menu_price}, 
		menu_recipe = #{menu_recipe},
		menu_photo = #{menu_photo},
		menu_state = #{menu_state}
		WHERE menu_idx = #{menu_idx}
	</update>
	
	<update id="menuUpdate2" parameterType="MenuDTO">
		UPDATE menu 
		SET 
		menu_name = #{menu_name}, 
		menu_price = #{menu_price}, 
		menu_recipe = #{menu_recipe},
		menu_state = #{menu_state}
		WHERE menu_idx = #{menu_idx}
	</update>
	
	
	
</mapper>