<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 XML 을 어떤 interface 하고 연결 할 것인가 -->
<mapper namespace="com.frans.stock.dao.StockDAO">
	<select id="comList" resultType="StockDTO">
		SELECT * from com_stock cs, stock s where cs.stock_idx = s.stock_idx; 
	</select>
	
	<insert id="StockAdd" parameterType="StockDTO"
	useGeneratedKeys="true"
		keyColumn="stock_idx"
		keyProperty="stock_idx">
		INSERT INTO stock(stock_name, stock_price,stock_sort_idx) 
			VALUES(#{stock_name},#{stock_price},#{stock_sort_idx})
	</insert>
	
	<insert id="comStockAdd">
	INSERT INTO com_stock(stock_idx, com_stock_amount) 
		VALUES(#{param1}, #{param2})
	</insert>
	
	<!-- 본사 식자재 리스트 -->
	<select id="comStockList" resultType="StockDTO">
		SELECT * from com_stock cs, stock s where cs.stock_idx = s.stock_idx and stock_sort_idx= #{param1}; 
	</select>
	
	<!-- 본사 부자재 리스트 -->
	<!-- <select id="subList" resultType="StockDTO">
		SELECT * from com_stock cs, stock s where cs.stock_idx = s.stock_idx and stock_sort_idx= #{param1}; 
	</select> -->
	
	<!-- 매장 자재 리스트 -->
	<select id="shopStockList" resultType="StockDTO">				
		SELECT DISTINCT s.stock_idx,s.stock_name ,s.stock_price ,(SELECT shop_idx from shop where emp_id= #{param2}) as shop_idx ,(SELECT shop_stock_amount from shop_stock ss2 where ss2.stock_idx = s.stock_idx and ss2.shop_idx=(SELECT s2.shop_idx from shop s2 where s2.emp_id = #{param2})) as shop_stock_amount
from stock s left JOIN shop_stock ss ON s.stock_idx = ss.stock_idx where s.stock_sort_idx = #{param1};
	</select>
	
	<!-- 재고 수정 모달 -->
	<select id="updateView" resultType="StockDTO">
		SELECT * from stock s, com_stock cs where s.stock_idx= cs.stock_idx and s.stock_idx = #{stock_idx}
	</select>
	
	<!-- 자재 수정 -->
 	<update id="updateStock">
		UPDATE stock set stock_name = #{stock_name},
				 stock_price = #{stock_price}
				 where stock_idx = #{stock_idx}
	</update> 
	
	<!-- 본사 재고 수정 -->
 	<update id="updateComStock">
		UPDATE com_stock set com_stock_amount = com_stock_amount + #{com_stock_amount} 
		where stock_idx = #{stock_idx}
	</update> 
	
	<!-- SELECT * from shop_stock ss, stock s 
		where ss.stock_idx = s.stock_idx and stock_sort_idx= #{param1} and ss.shop_idx = 'SH005' -->
</mapper>
















